////////////////////////////////////////////////////////
//////////// SIDEBAR ANIMATION /////////////////////////
////////////////////////////////////////////////////////

/* Standard syntax */
@keyframes width_open {
  from {
    left: -14em;;
  }
  to {
    left: 0px;
  }
}

/* Standard syntax */
@keyframes width_close {
  from {
    left: 0px;
  }
  to {
    left: -14em;;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0px;
  left: -14em;;
  background-color: white;
  width: 14em;;
  z-index: 9999;
}

.sidebar_open {
  animation: width_open .4s;
  animation-fill-mode: forwards;
}

.sidebar_closed {
  animation: width_close .4s;
  animation-fill-mode: forwards;
}