.line_item_name {
  color: #9e9e9e;
  display: block;
}

.expandedCart {
  background: black;
  position: absolute;
  top: 48px;
  right: 0px;
  padding-left: 0px;
}


.cart_plus_minus {
  font-size: 12px;
  margin: 0px 5px;
}