.line_item_name {
  color: #9e9e9e;
  display: block;
}

.expandedCart {
  transform: translateY(100%);
  position: absolute;
  right: 0px;
  padding-left: 0px;
  bottom: 0px;
  background: #B8C2CC;
  width: 18em;
  overflow: hidden;
}

#items {
  max-height: 60vh;
  overflow: scroll;
}


.cart_plus_minus {
  font-size: 12px;
  margin: 0px 5px;
}