.card {
  // style like amazon mobile
  padding: 20px 15px;
  margin: .5em auto;
}
.card_desktop {
  padding: 20px;
  flex-basis: 25%;
  margin: 20px;
}

.related_product {
  min-height: 450px;
}

.card-title {
  margin-top: 0px;
}

.card_image_container {
  height: 20em;
  @media screen and (min-width: 550px) {
    height: 15em;
  }
}

.card_image img {
  height: auto;
  width: auto;
  max-height: 20em;
  max-width: 100%;
  @media screen and (min-width: 550px) {
    max-height: 15em;
  }
}