.card {
  // style like amazon mobile
  padding: 20px 15px;
  margin: .5em auto;
}
.card_desktop {
  padding: 20px;
  flex-basis: 27.5%;
  margin: 20px 10px;
  @media screen and (max-width: 1041px) {
    flex-basis: 40%;
  }
  @media screen and (max-width: 650px) {
    flex-basis: 70%;
  }
}

.category_card_container{
  justify-content: space-between;
  @media screen and (max-width: 1041px) {
    justify-content: space-evenly;
  }
}

.category_card_container_few {
  // justify-content: space-around;
}

.related_product {
  min-height: 450px;
}

.card-title {
  margin-top: 0px;
}

.card_image_container {
  height: 20em;
  @media screen and (min-width: 550px) {
    height: 15em;
  }
  min-width: 240px;
}

.card_image img {
  height: auto;
  width: auto;
  max-height: 20em;
  max-width: 100%;
  @media screen and (min-width: 550px) {
    max-height: 15em;
  }
}