.line_item {
  width: 200px;
}

.line_item_quantity{
  color: white;
}

.line_item_sub_container {
  width: 200px;
  display: flex;
  justify-content: space-around;
  position: relative;
  padding: 25px 10px;
}

.remove_line_item_button {
  position: absolute;
  height: auto;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.cart_plus_minus {
  cursor: pointer;
}