@import './colors/colors.css.scss';

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../../fonts/Montserrat/Montserrat-SemiBold.ttf'); /* IE9 Compat Modes */
  src: local('Montserrat'), local('Montserrat'),
       url('../../fonts/Montserrat/Montserrat-SemiBold.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/Montserrat/Montserrat-SemiBold.ttf') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/Montserrat/Montserrat-SemiBold.ttf') format('woff'), /* Modern Browsers */
       url('../../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/Montserrat/Montserrat-SemiBold.ttf#Montserrat') format('svg'); /* Legacy iOS */
}
* {
  font-family: 'Montserrat' !important;
}

body {
  font-family: 'Montserrat';
  margin: 0px;
}


a {
  text-decoration: none;
  margin: 1px 0px;
  cursor: pointer;
  display: block;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

label {
  display: block;
  margin-bottom: 3px;
}

input {
  width: 90%;
  height: 25px;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  width: 90%;
  height: 25px;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 16px;
}

li {
  list-style-type: none;
}

.bare_button {
  border: none;
  background-color: transparent !important;
}

.bare_button:hover {
  border: none;
  background-color: transparent !important;
}
