@import './colors/colors.css.scss';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
  margin: 1px 0px;
  cursor: pointer;
  display: block;
}


button:hover {
  font-size: 14px;
  border-radius: 2px;
  padding: 4px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

label {
  display: block;
  margin-bottom: 3px;
}

input {
  width: 90%;
  height: 25px;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  width: 90%;
  height: 25px;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 16px;
}

li {
  list-style-type: none;
}

.bare_button {
  border: none;
  background-color: transparent !important;
}

.bare_button:hover {
  border: none;
  background-color: transparent !important;
}
