
.flex {
  display: flex;
}

.flex_column {
  flex-direction: column;
}

.flex-basis-1 {
  flex-basis: 1em;
}

.flex-basis-50-50 {
  flex-basis: 50%;
}

.space-between {
  justify-content: space-between
}

.justify-center {
  justify-content: center;
}

.space-evenly {
  justify-content: space-evenly
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center
}