.padding-none {
  padding: 0px;
}

.padding-xs {
  padding: .2em;
}

.padding-s {
  padding: .5em;
}

.padding-s-m {
  padding: .7em;
}

.padding-m {
  padding: .9em;
}

.padding-l {
  padding: 1.2em;
}

.padding-xl {
  padding: 1.6em;
}

.padding-xxl {
  padding: 2em;
}


// Vertical paddings

.padding-xs-v {
  padding: .2em 0em;
}

.padding-s-v {
  padding: .5em 0em;
}

.padding-m-v {
  padding: .9em 0em;
}

.padding-l-v {
  padding: 1.2em 0em;
}

.padding-xl-v {
  padding: 1.6em 0em;
}

.padding-xxl-v {
  padding: 2em 0em;
}

// Horizontal paddings

.padding-xs-h {
  padding: 0em .2em;
}

.padding-s-h {
  padding: 0em .5em;
}

.padding-m-h {
  padding: 0em .9em;
}

.padding-l-h {
  padding: 0em 1.2em;
}

.padding-xl-h {
  padding: 0em 1.6em;
}

.padding-xxl-h {
  padding: 0em 2em;
}

// Top paddings

.padding-xs-top {
  padding-top: .2em;
}

.padding-s-top {
  padding-top: .5em;
}

.padding-m-top {
  padding-top: .9em;
}

.padding-l-top {
  padding-top: 1.2em;
}

.padding-xl-top {
  padding-top: 1.6em;
}

.padding-xxl-top {
  padding-top: 2em;
}

// Bottom paddings

.padding-xs-bottom {
  padding-bottom: .2em;
}

.padding-s-bottom {
  padding-bottom: .5em;
}

.padding-m-bottom {
  padding-bottom: .9em;
}

.padding-l-bottom {
  padding-bottom: 1.2em;
}

.padding-xl-bottom {
  padding-bottom: 1.6em;
}

.padding-xxl-bottom {
  padding-bottom: 2em;
}