.header_list_item {
  height: auto;
  padding: 15px;
}

.nav {
  height: 50px;
  width: 100%;
  z-index: 25;
  position: fixed;
  top: 0px;
}

.desktop_nav {
  height: 70px;
  width: 100%;
  z-index: 25;
  position: fixed;
  top: 0px;
}

.scrolling_down_nav {
  position: fixed;
  top: -50px;
}

.scrolling_up_nav {
  position: fixed;
  top: 0px;
}

.top_of_page_nav {
  // position: relative;
}

.scrolling_down_nav_desktop {
  position: fixed;
  top: -70px;
}

.scrolling_up_nav_desktop {
  position: fixed;
  top: 0px;
  left: 0px;
}

.top_of_page_nav_desktop {
  // position: relative;
}


/* Standard syntax */
@keyframes header_width_close {
  from {
    left: 250px;
  }
  to {
    left: 0px;
  }
}

/* Standard syntax */
@keyframes header_width_open {
  from {
    left: 0px;
  }
  to {
    left: 250px;
  }
}

.scrolling_up_nav_desktop_from_header {
  position: fixed;
  top: 0px;
  animation: header_width_close .41s;
  animation-fill-mode: forwards;
}

.scrolling_up_nav_mobile_from_header {

}