.header_list_item {
  height: auto;
  padding: 15px;
}

.nav {
  height: 50px;
  width: 100%;
  z-index: 9999;
}

.scrolling_down_nav {
  position: fixed;
  top: -50px;
}

.scrolling_up_nav {
  position: fixed;
  top: 0px;
}

.top_of_page_nav {
  position: relative;
}