@import './elements.css.scss';
@import './background-color.css.scss';
@import './store-theme-components.css.scss';
@import './border.css.scss';
@import './text.css.scss';
@import 'colors/colors.css.scss';




.hover-color-1:hover {
  background-color: $blue-7;
  color: white;
}

.hover-color-2:hover {
  color: $blue-3;
}

.hover-color-3:hover {
  background-color: $blue-3;
}

.hover-color-4:hover {
  color: $blue-7;
}

.hover-color-5:hover {
  color: white;
}

.hover-color-6:hover {
  background-color: #c2c6c9;
  color: $blue-3;
}
