@import '../colors/colors.css.scss';


.theme-background-1 {
  background-color: #1b1b1b;
}

.theme-background-2 {
  background-color: #2b2b2b;
}

.theme-background-3 {
  background-color: #3D4852;
}

.theme-background-cust {
  background-color: #292c2f;
}

.theme-background-4 {
  background-color: rgb(83, 83, 83);
}

.theme-background-5 {
  background-color: #c2c6c9;
}

.theme-background-6 {
  background-color: #5656568a;
}