@import '../colors/colors.css.scss';

html {
  background: $black;
  color: $white;
}

.theme-border {
  border: 1px solid $blue-3
}

a {
  color: $blue-3;
}

a:hover {
  background-color: $blue-7;
}

a.a-invert {
  color: $blue-6;
}

button {
  background-color:$blue-7;
  border: solid 1px $blue-3;
  color: $blue-3;
}

button:hover {
  background-color: $blue-3;
  border: solid 1px $blue-7;
  color: $blue-7;
}
