@import '../colors/colors.css.scss';

html {
  background: #212020;
  color: $white;
}

.theme-border {
  border: 1px solid $blue-3
}
////////////////////////////////
/////////////ANCHORS////////////
////////////////////////////////
a {
  color: $blue-3;
}

a:hover {
  background-color: $blue-7;
}

a.a-invert {
  color: $blue-6;
}

a.a-invert:hover {
  color: $blue-3;
}
////////////////////////////////
////////////////////////////////
////////////////////////////////

button {
  background-color: #12283A;
  border: solid 1px #6CB2EB;
  color: #6CB2EB;
  border-radius: 4px;
  font-size: 15px;
  padding: 10px 6px;
  font-weight: 600;
  margin-top: -2px;
}

button:hover {
  background-color: $blue-3;
  border: solid 1px $blue-7;
  color: $blue-7;
}
