@import "../colors/colors.css.scss";

.st-product-card-background {
  background-color: #3D4852;
}
.st-product-card-shadow {
  box-shadow: 5px 6px 13px 2px #1a1a1a;
}

.st-nav-dropdown-background-color {
  background-color: #d4dbe0;
}