@import "../colors/colors.css.scss";

.st-product-card-background {
  background-color: #3D4852;
}
.st-product-card-shadow {
  box-shadow: 4px 4px 6px 2px rgb(22, 22, 22);
}

.st-nav-dropdown-background-color {
  background-color: #d4dbe0;
}