@import '../../../../stylesheets/colors/colors.css.scss';

.new_user_address_forms_container {
  display: flex;
}

.user_billing_form {
  width: 80%;
  margin: 0px auto;
}

.user_shipping_form {
  width: 80%;
  margin: 0px auto;

}

.address_card_container {
  min-width: 14em;
  margin: 0px .2em;
}

.address_card_container_desktop {
  min-width: 18em;
  margin: 0px .5em;
}

.card_container {
  display: flex;
}

.line_item_rating_input {
  max-width: 100px !important;
}

// .line_item_rating_text_area {
//   max-width: 300px !important;
// }