.new_user_address_forms_container {
  display: flex;
}

.user_billing_form {
  width: 40%;
  margin: 0px auto;
}

.user_shipping_form {
  width: 40%;
  margin: 0px auto;

}

.address_card_container {
  border: solid 1px lightgrey;
  padding: 10px;
  flex-basis: 18%;
  margin: 0px 1%;
}

.card_container {
  display: flex;
}
