@import './store-theme/all.css.scss';
@import './colors/colors.css.scss';

@import './generals/flex.css.scss';
@import './generals/margin.css.scss';
@import './generals/padding.css.scss';
@import './generals/elements.css.scss';
@import './generals/font-size.css.scss';
@import './generals/border.css.scss';
@import './generals/text-colors.css.scss';
@import './generals/positioning.css.scss';
@import './generals/text-align.css.scss';
@import './generals/text-decoration.css.scss';
@import './generals/backgrounds.css.scss';
@import './generals/height.css.scss';
@import './generals/width.css.scss';
@import './generals/display.css.scss';
@import './generals/overflow.css.scss';
@import './generals/visibility.css.scss';

#root {
  height: 100vh;
  overflow: scroll;
}

.clickable {
  padding: 10px 5px;
}

.clickable:hover {
  background-color: rgba(1,1,1,0.5) !important;
  cursor: pointer;
}

.hover:hover {
  cursor: pointer;
}

.loadingGif {
  height: 200px;
  width: auto;
}

.loadingGifCenterScreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

* {
  font-family:  'Raleway', sans-serif;
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

h1 {
  font-size: 2.5em
}

.nice_image {
  height: auto;
  width: auto;
}