
.flex {
  display: flex;
}

.flex_column {
  flex-direction: column;
}

.flex-basis-1 {
  flex-basis: 1em;
}

.justify-content-space-between {
  justify-content: space-between
}

.justify-content-space-evenly {
  justify-content: space-evenly
}

.flex-wrap {
  flex-wrap: wrap;
}