.padding-none {
  padding: 0px;
}

.padding-xs {
  padding: .2em;
}

.padding-s {
  padding: .5em;
}

.padding-m {
  padding: .9em;
}

.padding-l {
  padding: 1.2em;
}

.padding-xl {
  padding: 1.6em;
}

.padding-xxl {
  padding: 2em;
}


// Vertical paddings

.padding-xs-v {
  padding: .2em 0em;
}

.padding-s-v {
  padding: .5em 0em;
}

.padding-m-v {
  padding: .9em 0em;
}

.padding-l-v {
  padding: 1.2em 0em;
}

.padding-xl-v {
  padding: 1.6em 0em;
}

.padding-xxl-v {
  padding: 2em 0em;
}

// Horizontal paddings

.padding-xs-h {
  padding: 0em .2em;
}

.padding-s-h {
  padding: 0em .5em;
}

.padding-m-h {
  padding: 0em .9em;
}

.padding-l-h {
  padding: 0em 1.2em;
}

.padding-xl-h {
  padding: 0em 1.6em;
}

.padding-xxl-h {
  padding: 0em 2em;
}