////////////////////////////////////////////////////////
//////////// SIDEBAR ANIMATION /////////////////////////
////////////////////////////////////////////////////////

/* Standard syntax */
@keyframes width_open {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: 250px;
  }
}

/* Standard syntax */
@keyframes width_close {
  from {
    margin-left: 250px;
  }
  to {
    margin-left: 0px;
  }
}



.sidebar_open_content {
  animation: width_open .4s;
  animation-fill-mode: forwards;
}

.sidebar_closed_container {
  animation: width_close .4s;
  animation-fill-mode: forwards;
}

.content_subcontainer {
  overflow: scroll;
  min-width: 100%;
  min-height: 100vh;
}


.customer_container {
  min-height: 100vh;
}