
.display_order_image { 
  flex-basis: 32%;
  min-height: 100px; 
  max-height: 100px;
  min-width: 100px; 
  max-width: 100px;
  background-color: black;
  display: flex !important;
  justify-content: center;
  align-items: center;
  img {
    width: auto;
    height: auto;
    min-height: 100px; 
    max-height: 100px;
  }
}

.display_order_image_mobile { 
  flex-basis: 48%;
  min-height: 60px; 
  max-height: 60px;
  background-color: black;
  display: flex !important;
  justify-content: center;
  align-items: center;
  img {
    width: auto;
    height: auto;
    min-height: 60px; 
    max-height: 60px;
  }
}